<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en-us` }}">
  <head>
    {{ partial "head" . }}
  </head>
  {{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}
  <body>
    {{ partial "site-header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "site-footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>